<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tanomo</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<table id="loginId">
		<tr>
			<td id="right">ユーザーID：</td>
			<td th:text="${loginId}"></td>
		</tr>
		<tr>
			<td id="right">利用施設：</td>
			<td th:text="${placeName}"></td>
		</tr>
		<tr>
			<script th:inline="javascript">
				var authority = /*[[${authority}]]*/"authority";
				document.write('<td id="orderOutputTd">',authority,'</td>');
			</script>
		</tr>
	</table>
	
	<h2>削除された弁当</h2>
	
	<table id="orderOutputTable" cellspacing="20">
		<tr>
			<th>商品番号</th><th>商品名</th><th>値段</th><th>画像</th><th>販売曜日</th><th>残り在庫</th><th>公開状況</th>
		</tr>
		<tr th:each="Item : ${ItemList}">
			<form method="POST">
				<td th:text="${Item.itemId}" id="orderOutputTd"></td>
				<td th:text="${Item.itemName}" id="orderOutputTd"></td>
				<td th:text="${Item.price} + '円'" id="orderOutputTd"></td>
				<td><input type="image" th:src="${Item.itemImage}" disabled id="itemImage2" 
				onerror="this.src='/image/NoImage.jpg'; this.removeAttribute('onerror')"></td>
				<td th:text="${Item.weekDay}" id="orderOutputTd"></td>
				<script th:inline="javascript">
					var inventory = /*[[${Item.inventory}]]*/"ItemList";
					var views = /*[[${Item.views}]]*/"ItemList";
					if(inventory != -1){
						document.write('<td id="orderOutputTd">' + inventory + '</td>');
					} else {
						document.write('<td id="orderOutputTd">未設定</td>');
					}
					
					if(views == 1){
						document.write('<td id="orderOutputTd">公開</td>');
					} else {
						document.write('<td id="orderOutputTd">未公開</td>');
					}
				</script>
				<input type="hidden" name="itemId" th:value="${Item.itemId}">
				<input type="hidden" name="itemName" th:value="${Item.itemName}">
				<input type="hidden" name="itemImage" th:value="${Item.itemImage}">
				<input type="hidden" name="price" th:value="${Item.price}">
				<input type="hidden" name="weekDay" th:value="${Item.weekDay}">
				<input type="hidden" name="inventory" th:value="${Item.inventory}">
				<input type="hidden" name="views" th:value="${Item.views}">
				<input type="hidden" name="page" value="10"><br>
				<td><input type="submit" value="復元" class="btn"></td>
			</form>
		</tr>
		<tr>
			<td>
				<form method="POST">
					<input type="hidden" name="page" value="0">
					<input type="submit" value="戻る" class="btn">
				</form>
			</td>
		</tr>
	</table>
	
</body>
</html>