<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tanomo</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<script type="text/javascript">
        function bentouClick(s) {
            document.getElementById("bentou").value = s;
        }
  	</script>
	
	<table id="loginId">
		<tr>
			<td id="right">ユーザーID：</td>
			<td th:text="${loginId}"></td>
		</tr>
		<tr>
			<td id="right">利用施設：</td>
			<td th:text="${placeName}"></td>
		</tr>
		<tr>
			<script th:inline="javascript">
				var authority = /*[[${authority}]]*/"authority";
				document.write('<td id="orderOutputTd">',authority,'</td>');
			</script>
		</tr>
	</table>
	
	<h2>弁当情報を削除しました</h2>
	
	<table id="orderOutputTable" cellspacing="20">
		<tr>
			<td>
				<form method="POST">
					<input type="hidden" name="page" value="0">
					<input type="submit" value="戻る" class="btn">
				</form>
			</td>
		</tr>
	</table>
	
</body>
</html>