<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tanomo</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<table id="loginId">
		<tr>
			<td id="right">ユーザーID：</td>
			<td th:text="${loginId}"></td>
		</tr>
		<tr>
			<td id="right">利用施設：</td>
			<td th:text="${placeName}"></td>
		</tr>
		<tr>
			<script th:inline="javascript">
				var authority = /*[[${authority}]]*/"authority";
				document.write('<td id="orderOutputTd">',authority,'</td>');
			</script>
		</tr>
	</table>
	
	<h2>こちらの内容で確定しますか？</h2>
	<table id="orderOutputTable" cellspacing="20">
		<tr>
			<th id="orderOutputTd">【日付】</th>
			<th id="orderOutputTd">【ユーザーID】</th>
			<th id="orderOutputTd">【商品名】</th>
			<th id="orderOutputTd">【値段】</th>
			<th id="orderOutputTd">【利用施設】</th>
		</tr>
		<tr>
			<td th:text="${OrderForm.date}" id="orderOutputTd"></td>
			<td th:text="${loginId}" id="orderOutputTd"></td>
			<td th:text="${OrderForm.itemName}" id="orderOutputTd"></td>
			<td th:text="${OrderForm.price} + '円'" id="orderOutputTd"></td>
			<td th:text="${placeName}" id="orderOutputTd"></td>
		</tr>
	</table>
	
	<table  cellspacing="20">
		<tr>
			<td>
				<form method="POST">
					<input type="hidden" name="date" th:value="${OrderForm.date}">
					<input type="hidden" name="userId" th:value="${loginId}">
					<input type="hidden" name="itemId" th:value="${OrderForm.itemId}">
					<input type="hidden" name="itemName" th:value="${OrderForm.itemName}">
					<input type="hidden" name="price" th:value="${OrderForm.price}">
					<input type="hidden" name="placeId" th:value="${OrderForm.placeId}">
					<input type="hidden" name="placeName2" th:value="${placeName}">
					<input type="hidden" name="page" value="2">
					<input type="submit" value="確定" class="btn">
				</form>
			</td>
			<td>
				<form th:action="@{/orderInput}" method="POST">
					<input type="submit" value="戻る" class="btn">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>