<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tanomo</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<table id="loginId">
		<tr>
			<td id="right">ユーザーID：</td>
			<td th:text="${loginId}"></td>
		</tr>
		<tr>
			<td id="right">利用施設：</td>
			<td th:text="${placeName}"></td>
		</tr>
		<tr>
			<script th:inline="javascript">
				var authority = /*[[${authority}]]*/"authority";
				document.write('<td id="orderOutputTd">',authority,'</td>');
			</script>
		</tr>
	</table>
	
	<h2>こちらの予約をどうしますか？</h2>
	<table id="orderOutputTable" cellspacing="20">
		<tr>
			<th id="orderOutputTd">【日付】</th>
			<th id="orderOutputTd">【ユーザーID】</th>
			<th id="orderOutputTd">【商品名】</th>
			<th id="orderOutputTd">【値段】</th>
			<th id="orderOutputTd">【利用施設】</th>
			<th id="orderOutputTd">【オーダーID】</th>
		</tr>
		<tr th:each="Order : ${OrderList}">
			<td th:text="${Order.date}" id="orderOutputTd"></td>
			<td th:text="${Order.userId}" id="orderOutputTd"></td>
			<td  th:text="${Order.itemName}" id="orderOutputTd"></td>
			<td  th:text="${Order.price} + '円'" id="orderOutputTd"></td>
			<td  th:text="${Order.placeName}" id="orderOutputTd"></td>
			<td  th:text="${Order.orderId}" id="orderOutputTd"></td>
		</tr>
	</table>
	
	<table cellspacing="20">
		<tr th:each="Order : ${OrderList}">
			<td>
				<form method="POST">
					<input type="hidden" name="date" th:value="${Order.date}">
					<input type="hidden" name="userId" th:value="${Order.userId}">
					<input type="hidden" name="itemId" th:value="${Order.itemId}">
					<input type="hidden" name="orderId" th:value="${Order.orderId}">
					<input type="hidden" name="page" value="2">
					<input type="submit" value="キャンセル" class="btn">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" name="date" th:value="${Order.date}">
					<input type="hidden" name="userId" th:value="${Order.userId}">
					<input type="hidden" name="itemId" th:value="${Order.itemId}">
					<input type="hidden" name="orderId" th:value="${Order.orderId}">
					<input type="hidden" name="page" value="3">
					<input type="submit" value="購入" class="btn">
				</form>
			</td>
			<td>
				<form th:action="@{/orderOutput}" method="POST">
					<input type="submit" value="戻る" class="btn">
				</form>
			</td>
		</tr>
	</table>
	
	
</body>
</html>