<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tanomo</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<script type="text/javascript">
        function bentouClick(s) {
            document.getElementById("bentou").value = s;
            var elements = document.getElementsByName("week");
            var count = 0;
            var weekDay = "";
            for (let i=0; i<elements.length; i++){
        		if (elements[i].checked){
          			weekDay += elements[i].value;
        		}
        	}
        	if (weekDay != "") {
				document.getElementById("Day").defaultValue = weekDay;
        		return true;
        	} else {
				document.getElementById("bentou").value = 2;
				window.alert("販売曜日を1つ以上選択してください。");
        		return false;
			}
        }
  	</script>
	
	<table id="loginId">
		<tr>
			<td id="right">ユーザーID：</td>
			<td th:text="${loginId}"></td>
		</tr>
		<tr>
			<td id="right">利用施設：</td>
			<td th:text="${placeName}"></td>
		</tr>
		<tr>
			<script th:inline="javascript">
				var authority = /*[[${authority}]]*/"authority";
				document.write('<td id="orderOutputTd">',authority,'</td>');
			</script>
		</tr>
	</table>
	
	<h2>弁当情報の追加</h2>
	
	<table id="orderOutputTable" cellspacing="20">
		<tr>
			<th id="orderOutputTd">【商品名】</th>
			<th id="orderOutputTd">【値段】</th>
			<th id="orderOutputTd">【画像】</th>
		</tr>
			<tr>
				<form method="POST" enctype="multipart/form-data">
					<button type="submit" disabled style="display: none;"></button>
					<input type="hidden" name="itemId" th:value="${ItemForm.itemId}">
					<td>
						<input type="text" name="itemName" th:value="${ItemForm.itemName}" 
						maxlength="20" title="20文字以下で入力してください。" required 
						placeholder="商品名を入力してください"id="textInput">
					</td>
					<input type="hidden" name="itemImage" th:value="${ItemForm.itemImage}" id="itemImage">
					<td>
						<input type="text" name="price" th:value="${ItemForm.price}" id="textInput"
						pattern="[0-9]*" maxlength="7" title="0~7桁の数字のみで入力してください。" required 
						placeholder="値段を入力してください">
					</td>
					<td>
						<div>
							<input type="image" th:src="${ItemForm.itemImage}"  id="itemImage3"><br>
							<input type="file" name="file" id="file" accept="image/jpeg" onchange="previewFile(this);">
						</div>
					</td>
			</tr>
			<tr>
				<th id="orderOutputTd">【販売曜日】</th>
				<th id="orderOutputTd">【残り在庫】</th>
				<th id="orderOutputTd">【公開設定】</th>
			</tr>
			<tr>
				<td>
					<p id="weekDay">月 火 水 木 金 土 日</p>
					<div>
						<input type="checkbox" name="week" id="checkbox" value="月" >
						<input type="checkbox" name="week" id="checkbox" value="火">
						<input type="checkbox" name="week" id="checkbox" value="水">
						<input type="checkbox" name="week" id="checkbox" value="木">
						<input type="checkbox" name="week" id="checkbox" value="金">
						<input type="checkbox" name="week" id="checkbox" value="土">
						<input type="checkbox" name="week" id="checkbox" value="日">
						<input type="hidden" name="weekDay" id="Day">
					</div>
				</td>
				<td>
					<div>
					<p><input type="checkbox" name="inventory" id="checkbox2" value="-1" onclick="connecttext('textInput2',this.checked);">
					<label for="text_id">設定しない</label></p>
					<input type="text" name="inventory" id="textInput2"
					pattern="[0-9]*"maxlength="7" title="0~7桁の数字のみで入力してください。"
					placeholder="残りの在庫数を入力してください" disabled>
					</div>
				</td>
				<td id="views">
					<p><input type="checkbox" name="views" id="checkbox2" value="1">
					<label for="text_id">公開する</label><br></p>
				</td>
				<input type="hidden" name="fileCheck" value="0" id="fileCheck">
				<input type="hidden" name="page" id="bentou">
			</tr>
 				 <script>
					  function connecttext(textid, ischecked) {
						  if(ischecked == false) {
							  document.getElementById(textid).disabled = false;
							  document.getElementById(textid).required = true;
						  } else {
							  document.getElementById(textid).disabled = true;
						  }
					  }
					  function previewFile(hoge){
						  var fileData = new FileReader();
						  fileData.onload = (function() {
							  document.getElementById('itemImage3').src = fileData.result;
							  document.getElementById('itemImage').value = fileData.result;
						  });
						  document.getElementById('fileCheck').value = 1;
   					 	  fileData.readAsDataURL(hoge.files[0]);
   					  }
  				</script>
  				<script th:inline="javascript">
					var weekDay = /*[[${ItemForm.weekDay}]]*/"ItemList";
					let checkbox1 = document.getElementsByName('week');
					var inventory = /*[[${ItemForm.inventory}]]*/"ItemList";
					let checkbox2 = document.getElementsByName('inventory');
					var views = /*[[${ItemForm.views}]]*/"ItemList";
					let checkbox3 = document.getElementsByName('views');
					for(var i = 0; i < weekDay.length; i++){
						if(weekDay.charAt(i) == '月'){
							checkbox1[0].checked = true;
						} else if(weekDay.charAt(i) == '火'){
							checkbox1[1].checked = true;
						} else if(weekDay.charAt(i) == '水'){
							checkbox1[2].checked = true;
						} else if(weekDay.charAt(i) == '木'){
							checkbox1[3].checked = true;
						} else if(weekDay.charAt(i) == '金'){
							checkbox1[4].checked = true;
						} else if(weekDay.charAt(i) == '土'){
							checkbox1[5].checked = true;
						} else if(weekDay.charAt(i) == '日'){
							checkbox1[6].checked = true;
						}
					}
					
					if(inventory == -1){
						checkbox2[0].checked = true;
					} else {
						checkbox2[1].value = inventory;
						 document.getElementById("textInput2").disabled = false;
					}
					
					if(views == 1){
						checkbox3[0].checked = true;
					}
				</script>
  				
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="追加する" class="btn" onclick="bentouClick(2)">
				</td>
				</form>
				<td>
					<form method="POST">
						<input type="hidden" name="page" value="0">
						<input type="submit" value="戻る" class="btn">
					</form>
				</td>
			</tr>
	</table>
	
</body>
</html>