<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tanomo</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<table id="loginId">
		<tr>
			<td id="right">ユーザーID：</td>
			<td th:text="${loginId}"></td>
		</tr>
		<tr>
			<td id="right">利用施設：</td>
			<td th:text="${placeName}"></td>
		</tr>
		<tr>
			<script th:inline="javascript">
				var authority = /*[[${authority}]]*/"authority";
				document.write('<td id="orderOutputTd">',authority,'</td>');
			</script>
		</tr>
	</table>
	
	<h2>予約されている弁当</h2>
	
	<table id="orderFormTable" cellspacing="20">
		<tr>
			<td>
				<h3 id="orderFormText">オーダーIDを入力してください</h3>
			</td>
		</tr>
		<script th:inline="javascript">
			var check = /*[[${OrderCheck}]]*/"OrderCheck";
			var buyCheck = /*[[${OrderBuyCheck}]]*/"OrderBuyCheck";
			var cancelCheck = /*[[${OrderCancelCheck}]]*/"OrderCancelCheck";
			if(check == false){
				document.write('<p id="p">このオーダーは存在しないです。</p>');
			} else if(buyCheck == 1){
				document.write('<p id="p">このオーダーは購入済みです。</p>');
			} else if(cancelCheck == 1){
				document.write('<p id="p">このオーダーはキャンセル済みです。</p>');
			}
		</script>
		
		<tr>
			<td>
				<form method="POST">
					<input type="text" name="orderId" id="orderForm" pattern="[0-9]*" 
					maxlength="3" title="3桁までの数字で入力してください。" required>
					<input type="hidden" name="page" value="1">
			</td>
		</tr>
		<tr>	
			<td>
					<input type="submit" value="決定" class="btn" id="orderForm2">
				</form>
			</td>
		</tr>
	</table>
	<br>
	
	<form th:action="@{/menu}" method="POST">
		<input type="submit" value="戻る" class="btn">
	</form>
	
	<hr><br>
	
	<table id="orderOutputTable" cellspacing="20">
		
		
		<tr>
			<th>日付</th><th>ユーザーID</th><th>商品名</th><th>値段</th><th>利用施設</th><th>オーダーID</th><th>予約状況</th>
		</tr>
		<tr>
			<form method="POST">
				<td><input type="date" name="date" id="date"></td>
				<td><input type="text" name="userId"></td>
				<td><input type="text" name="itemName"></td>
				<td><input type="text" name="price"></td>
				<td>
					<select id="select2">
						<option value=""></option>
						<div th:each="Place : ${PlaceList}">
							<option th:text="${Place.placeName}" th:value="${Place.placeId}"></option>
						</div>
					</select>
				</td>
				<input type="hidden" name="placeId" id="placeId">
				<td><input type="text" name="orderId"></td>
				<td>
					<select id="select3">
						<option value=""></option>
						<option value="0">予約中</option>
						<option value="1">購入済み</option>
						<option value="1">キャンセル済み</option>
					</select>
				</td>
				<input type="hidden" name="buy" id="buy">
				<input type="hidden" name="cancel" id="cancel">
				<td><input type="submit" value="検索" class="btn"></td>
			</form>
			<script>
				function placeIdClick() {
            		var placeId = document.getElementById("select2").value;
            		document.getElementById("placeId").value = placeId;
            	} 
			</script>
		</tr>
		<tr></tr>
		<tr th:each="Order : ${OrderList}">
			<script th:inline="javascript">
				var buy = /*[[${Order.buy}]]*/"OrderList";
				var cancel = /*[[${Order.cancel}]]*/"OrderList";
			</script>
			<td th:text="${Order.date}" id="orderOutputTd"></td>
			<td th:text="${Order.userId}" id="orderOutputTd"></td>
			<td th:text="${Order.itemName}" id="orderOutputTd"></td>
			<td th:text="${Order.price} + '円'" id="orderOutputTd"></td>
			<td th:text="${Order.placeName}" id="orderOutputTd"></td>
			<td th:text="${Order.orderId}" id="orderOutputTd"></td>
			<script>
				if(buy === 1){
					document.write('<td id="orderOutputTd">購入済み</td>');
				} else if(cancel === 1) {
					document.write('<td id="orderOutputTd">キャンセル済み</td>');
				} else {
					document.write('<td id="orderOutputTd">予約中</td>');
				}
			</script>
			<td>
				<form method="POST">
					<input type="hidden" name="orderId" th:value="${Order.orderId}">
					<input type="hidden" name="page" value="1">
					<input type="submit" value="決定" class="btn">
				</form>
			</td>
		</tr>
	</table>
	
</body>
</html>